# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*-fulltrace.txt
output
temp.data

# Gradle
.gradle

# Maven packages/etc
target/


build/tmp
build/resources
build/classes
build/dependency-cache
build/ivy.xml

# Eclipse project
bin

# IDEA project
.idea/
*.iml

# System's crap
Thumbs.db
.DS_Store

