# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*-fulltrace.txt

# Gradle
.gradle

# Maven packages/etc
target
build

# Eclipse project
bin
.project
.settings/
.classpath

# IDEA project
.idea/
*.iml

# System's crap
Thumbs.db
.DS_Store
