# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*-fulltrace.txt

# Maven packages/etc
target

# Eclipse project
.classpath
.project
.settings/

# IDEA project
.idea/
*.iml

# System's crap
Thumbs.db
.DS_Store